.gradient-background {
  background: linear-gradient(300deg, #feffff, #070100, #ff4c68);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.gradient-background .lead {
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
  .display-4 {
    font-size: 1.8rem;
  }
}

#title .img-fluid {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  display: block;
}

.image-col {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#title {
  padding-bottom: 0;
}

#title {
  min-height: 70vh;
}

#title .container {
  height: 100%;
}
#title .row {
  height: 100%;
}



.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.press-logo {
  height: 90px;
  width: auto;
  filter: grayscale(100%);
  opacity: 0.6;
  margin: 15px 0;
}

.pricing-card-title {
  font-size: 3.5rem;
}

#footer .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

#footer .nav-link:hover {
  color: #fff;
}