<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav style="text-align:center; padding:10px;">
    <a href="/">Home</a>
    &nbsp;|&nbsp;
    <a href="/Work">Work List</a>
  </nav>
